body{
    background-color:#e7fafc;
    padding: 20px;
}
h1{color:#222;
text-align: center;
font-size: 40px;}
h1:hover{text-decoration: underline;}
p{
    text-align: center;
    font-size: 30px;
}
nav {
    text-align: center;
}
nav a{
margin:0px 18px;
font-size: 20px;
padding: 8px;
font-weight:bold;
color:purple;
border-radius: 5px;
}
nav a:hover{background-color:purple;
color: white;}

hr{margin:30px auto;
width: 800px;
border-top: 2px solid;} 

section{
    background-color: white;
    width:800px;
    margin:30px auto;
    padding:20px;
    border-radius: 18px;
    box-shadow:0 4px 12px purple;}

figure{text-align: center;}

figure img{
      border-radius: 50%;
      border:3px solid skyblue;}

figcaption{font-size: 30px;}

section h2{
    border-bottom:2px solid mediumblue;
    padding-bottom: 10px;
}

article{background-color:#e7fafc;
padding:20px;
box-shadow:0 3px 12px skyblue;
border-left:4px solid purple;
border-radius: 10px;
margin-bottom:15px;
transition:transform 0.8s;}

article.hover{transform:translateX(-10px);}

h3{font-size:40px;}

details{margin-top: 15px;}

summary{font-size: 30px;
font-weight: bold;}

a{text-decoration: none;}

li{background-color:lavender;
border-radius: 5px;
padding:10px;
margin:20px 0px;
text-align: left;
font-size: 20px;}

ul{list-style-type: none;}
ol{list-style-type: none;}

h3:hover{background-color:lavender;
color:purple}

li:hover{background-color:lightsteelblue;}

summary:hover{background-color:lavender;
color:purple;}

span{font-weight: bold;}

form{text-align: center;}

input,textarea{width:100%;padding:5px;}

form{font-size: 15px;}

button{margin-left: 20px;padding:10px;background-color:cornflowerblue;color:white;font-weight: bold;border-radius: 10px;}
button:hover{background-color:bisque;
color:plum}

h1{transition: all 2s ease;}
h1:hover{transform:scale(1.5);}